<div class="pdpa-page">
    <div class="pdpa-header">
        <div class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Nokair_logo.jpg" alt="logo">
        </div>
        <div class="pdpa-title">NOKAIR</div>
    </div>
    <div class="pdpa-container">
            <div class="pdpa-content">
                <div class="pdpa-title-main">{{ 'PDPA_TITLE' | translate }}</div>
                <div class="pdpa-content">
                    <p>{{ 'PDPA_INTRO' | translate }}</p>

                    <h3>{{ 'PDPA_PERSONAL_DATA_TITLE' | translate }}</h3>
                    <p>{{ 'PDPA_PERSONAL_DATA_DEF' | translate }}</p>
                    <p>{{ 'PDPA_SENSITIVE_DATA_DEF' | translate }}</p>

                    <h3>{{ 'PDPA_COLLECTION_TITLE' | translate }}</h3>
                    <p>{{ 'PDPA_COLLECTION_INTRO' | translate }}</p>
                    <ul>
                        <li>{{ 'PDPA_COLLECTION_LIST_1' | translate }}</li>
                        <li>{{ 'PDPA_COLLECTION_LIST_2' | translate }}</li>
                        <li>{{ 'PDPA_COLLECTION_LIST_3' | translate }}</li>
                        <li>{{ 'PDPA_COLLECTION_LIST_4' | translate }}</li>
                        <li>{{ 'PDPA_COLLECTION_LIST_5' | translate }}</li>
                        <li>{{ 'PDPA_COLLECTION_LIST_6' | translate }}</li>
                        <li>{{ 'PDPA_COLLECTION_LIST_7' | translate }}</li>
                        <li>{{ 'PDPA_COLLECTION_LIST_8' | translate }}</li>
                    </ul>

                    <p>{{ 'PDPA_CONSENT_INTRO' | translate }}</p>
                    <ul>
                        <li>{{ 'PDPA_CONSENT_LIST_1' | translate }}</li>
                        <li>{{ 'PDPA_CONSENT_LIST_2' | translate }}</li>
                        <li>{{ 'PDPA_CONSENT_LIST_3' | translate }}</li>
                        <li>{{ 'PDPA_CONSENT_LIST_4' | translate }}</li>
                        <li>{{ 'PDPA_CONSENT_LIST_5' | translate }}</li>
                        <li>{{ 'PDPA_CONSENT_LIST_6' | translate }}</li>
                    </ul>

                    <h3>{{ 'PDPA_SENSITIVE_TITLE' | translate }}</h3>
                    <p>{{ 'PDPA_SENSITIVE_CONTENT' | translate }}</p>
                    <ul>
                        <li>{{ 'PDPA_SENSITIVE_LIST_1' | translate }}</li>
                        <li>{{ 'PDPA_SENSITIVE_LIST_2' | translate }}</li>
                        <li>{{ 'PDPA_SENSITIVE_LIST_3' | translate }}</li>
                        <li>{{ 'PDPA_SENSITIVE_LIST_4' | translate }}</li>
                        <li>{{ 'PDPA_SENSITIVE_LIST_5' | translate }}</li>
                    </ul>

                    <h3>{{ 'PDPA_SOURCE_TITLE' | translate }}</h3>
                    <ul>
                        <li>{{ 'PDPA_SOURCE_LIST_1' | translate }}</li>
                        <li>{{ 'PDPA_SOURCE_LIST_2' | translate }}</li>
                        <li>{{ 'PDPA_SOURCE_LIST_3' | translate }}</li>
                        <li>{{ 'PDPA_SOURCE_LIST_4' | translate }}</li>
                    </ul>

                    <h3>{{ 'PDPA_PURPOSES_TITLE' | translate }}</h3>
                    <p>{{ 'PDPA_PURPOSES_INTRO' | translate }}</p>
                    <ul>
                        <li>{{ 'PDPA_PURPOSES_LIST_1' | translate }}</li>
                        <li>{{ 'PDPA_PURPOSES_LIST_2' | translate }}</li>
                        <li>{{ 'PDPA_PURPOSES_LIST_3' | translate }}</li>
                        <li>{{ 'PDPA_PURPOSES_LIST_4' | translate }}</li>
                        <li>{{ 'PDPA_PURPOSES_LIST_5' | translate }}</li>
                        <li>{{ 'PDPA_PURPOSES_LIST_6' | translate }}</li>
                        <li>{{ 'PDPA_PURPOSES_LIST_7' | translate }}</li>
                        <li>{{ 'PDPA_PURPOSES_LIST_8' | translate }}</li>
                        <li>{{ 'PDPA_PURPOSES_LIST_9' | translate }}</li>
                        <li>{{ 'PDPA_PURPOSES_LIST_10' | translate }}</li>
                        <li>{{ 'PDPA_PURPOSES_LIST_11' | translate }}</li>
                        <li>{{ 'PDPA_PURPOSES_LIST_12' | translate }}</li>
                        <li>{{ 'PDPA_PURPOSES_LIST_13' | translate }}</li>
                        <li>{{ 'PDPA_PURPOSES_LIST_14' | translate }}</li>
                        <li>{{ 'PDPA_PURPOSES_LIST_15' | translate }}</li>
                    </ul>

                    <h3>{{ 'PDPA_TRANSFER_TITLE' | translate }}</h3>
                    <p>{{ 'PDPA_TRANSFER_INTRO' | translate }}</p>
                    <ul>
                        <li>{{ 'PDPA_TRANSFER_LIST_1' | translate }}</li>
                        <li>{{ 'PDPA_TRANSFER_LIST_2' | translate }}</li>
                        <li>{{ 'PDPA_TRANSFER_LIST_3' | translate }}</li>
                    </ul>

                    <h3>{{ 'PDPA_INTERNATIONAL_TITLE' | translate }}</h3>
                    <p>{{ 'PDPA_INTERNATIONAL_INTRO' | translate }}</p>
                    <ul>
                        <li>{{ 'PDPA_INTERNATIONAL_LIST_1' | translate }}</li>
                        <li>{{ 'PDPA_INTERNATIONAL_LIST_2' | translate }}</li>
                        <li>{{ 'PDPA_INTERNATIONAL_LIST_3' | translate }}</li>
                        <li>{{ 'PDPA_INTERNATIONAL_LIST_4' | translate }}</li>
                        <li>{{ 'PDPA_INTERNATIONAL_LIST_5' | translate }}</li>
                        <li>{{ 'PDPA_INTERNATIONAL_LIST_6' | translate }}</li>
                        <li>{{ 'PDPA_INTERNATIONAL_LIST_7' | translate }}</li>
                        <li>{{ 'PDPA_INTERNATIONAL_LIST_8' | translate }}</li>
                        <li>{{ 'PDPA_INTERNATIONAL_LIST_9' | translate }}</li>
                    </ul>

                    <h3>{{ 'PDPA_PROTECTION_TITLE' | translate }}</h3>
                    <p>{{ 'PDPA_PROTECTION_CONTENT' | translate }}</p>

                    <h3>{{ 'PDPA_RETENTION_TITLE' | translate }}</h3>
                    <p>{{ 'PDPA_RETENTION_CONTENT' | translate }}</p>

                    <h3>{{ 'PDPA_CHANGES_TITLE' | translate }}</h3>
                    <p>{{ 'PDPA_CHANGES_CONTENT' | translate }}</p>

                    <h3>{{ 'PDPA_RIGHTS_TITLE' | translate }}</h3>
                    <p>{{ 'PDPA_RIGHTS_INTRO' | translate }}</p>
                    <ul>
                        <li>{{ 'PDPA_RIGHTS_LIST_1' | translate }}</li>
                        <li>{{ 'PDPA_RIGHTS_LIST_2' | translate }}</li>
                        <li>{{ 'PDPA_RIGHTS_LIST_3' | translate }}</li>
                        <li>{{ 'PDPA_RIGHTS_LIST_4' | translate }}</li>
                        <li>{{ 'PDPA_RIGHTS_LIST_5' | translate }}</li>
                        <li>{{ 'PDPA_RIGHTS_LIST_6' | translate }}</li>
                        <li>{{ 'PDPA_RIGHTS_LIST_7' | translate }}</li>
                    </ul>

                    <p>{{ 'PDPA_RIGHT_FOOTER' | translate }}</p>

                    <h3>{{ 'PDPA_CONTACT_TITLE' | translate }}</h3>
                    <p>{{ 'PDPA_CONTACT_COMPANY' | translate }}<br>
                    {{ 'PDPA_CONTACT_ADDRESS' | translate }}<br>
                    {{ 'PDPA_CONTACT_DISTRICT' | translate }}<br>
                    {{ 'PDPA_CONTACT_PHONE_TH' | translate }}<br>
                    {{ 'PDPA_CONTACT_PHONE_INT' | translate }}<br>
                    {{ 'PDPA_CONTACT_EMAIL' | translate }}</p>

                    <p>{{ 'PDPA_CONTACT_REQUIRED' | translate }}</p>
                    <ul>
                        <li>{{ 'PDPA_CONTACT_REQUIRED_LIST_1' | translate }}</li>
                        <li>{{ 'PDPA_CONTACT_REQUIRED_LIST_2' | translate }}</li>
                        <li>{{ 'PDPA_CONTACT_REQUIRED_LIST_3' | translate }}</li>
                    </ul>

                    <p>{{ 'PDPA_ANNOUNCEMENT_DATE' | translate }}</p>
                </div>
                <div class="pdpa-checkbox-footer">
                    <div class="pdpa-checkbox-row">
                        <input type="checkbox" id="acceptPdpa" (change)="onAcceptChange($event)" [checked]="isAccepted" />
                        <label for="acceptPdpa">{{ 'PDPA_ACCEPT_TEXT' | translate }}</label>
                    </div>
                    <button class="pdpa-confirm-btn" [class.active]="isAccepted" [disabled]="!isAccepted" (click)="onConfirm()">{{ 'PDPA_CONFIRM_BUTTON' | translate }}</button>
                </div>
            </div>
    </div>
</div>
